body {
    /*font-family: Arial, sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    color: blue;
}
section {
    margin-bottom: 15px;
}
section h1 {
    color: darkblue;
}